@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --foreground: #171717;
}
@font-face {
  font-family: "Koodak";
  src: url("/Fonts/KoodakBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  direction: rtl;
  font-family: "Koodak", sans-serif;
  background-color: var(--background);
}
